In [ ]:
 # Q:1]Write a Python program to print "Hello, World!y?

In [1]:
print("hello world")

hello world

In [ ]:
# Q:2] Write a Python program that displays your name and age?

In [9]:
name = "yash garasiya"
age = 25
print("hello my name is:", name,)
print("and i am", age, "year`s old.")

hello my name is: yash garasiya
and i am 25 year`s old.

In [ ]:
# Q:3] Write code to print all the pre-defined keywords in Python using the keyword library?

In [10]:
import keyword
all_keywords = keyword.kwlist
print("List of all pre-defined keywords in Python:")
for kw in all_keywords:
    print(kw)

List of all pre-defined keywords in Python:
False
None
True
and
as
assert
async
await
break
class
continue
def
del
elif
else
except
finally
for
from
global
if
import
in
is
lambda
nonlocal
not
or
pass
raise
return
try
while
with
yield

In [17]:
import keyword

print("List of all Python keywords:")
print(keyword.kwlist)

List of all Python keywords:
['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
# Q:4] Write a program that checks if a given word is a Python keyword?

In [22]:
cricket = "virat"
if cricket == "virat":
    print("i will play cricket")
elif cricket == "dhoni":
    print("i will go with net practice")
else:
    print("i will watch tv")

i will watch tv

In [ ]:
# Q:5] Create a list and tuple in Python, and demonstrate how attempting to change an element works differently
for each?

In [30]:
# list (mutable)
list_movie = ["dhurandhar", "kantara", "avtar", "pk"]
list_movie

['dhurandhar', 'kantara', 'avtar', 'pk']

In [31]:
list_movie[2]= "major"

In [32]:
list_movie

['dhurandhar', 'kantara', 'major', 'pk']

In [33]:
# tuple (immutable)
businessman = ("elonmusk", "adani", "ambani", "ratan tata")
businessman

('elonmusk', 'adani', 'ambani', 'ratan tata')

In [36]:
len(businessman)

4

In [29]:
a = [1, 2, 3]
b = ['apple', 'orange', 'cherry']

res = list(zip(a, b))

print(res)

[(1, 'apple'), (2, 'orange'), (3, 'cherry')]

In [ ]:
# Q:6] Write a function to demonstrate the behavior of mutable and immutable arguments?

In [37]:
#mutable
l1 = [12, 13, 14, 15, 16, 17]
print(l1)
print(id(l1))
l1[4] = 20
print(l1)
print(id(l1))

[12, 13, 14, 15, 16, 17]
1700410266240
[12, 13, 14, 15, 20, 17]
1700410266240

In [38]:
#immutable
A = [10,20,30,40,50,60,70,80,90,100]
B = A
A[5] = 22
print(A)
print(B)
B[6] = 23
print(A)
print(B)

[10, 20, 30, 40, 50, 22, 70, 80, 90, 100]
[10, 20, 30, 40, 50, 22, 70, 80, 90, 100]
[10, 20, 30, 40, 50, 22, 23, 80, 90, 100]
[10, 20, 30, 40, 50, 22, 23, 80, 90, 100]

In [39]:
# Q;7] Write a program that performs basic arithmetic operations on two user-input numbers?
a = 20
b = 25
a*b

500

In [1]:
n = 20
i = 1
while i <=n:
    i=i+2
    if i == 18:
       continue
    print(i)
else:
    print("executed succesfully")

3
5
7
9
11
13
15
17
19
21
executed succesfully

In [3]:
# Q:8] Write a program to demonstrate the use of logical operators?
holiday = "monday"
if holiday == "sunday":
    print("i will go goa")
elif holiday == "saturady":
    print("i will go hanuman temple")
else:
    print("i will be in office")

i will be in office

In [4]:
# Q:9] Write a Python program to convert user input from string to integer, float, and boolean types.
a = "25"
a

'25'

In [5]:
type(a)

str

In [6]:
int(a)

25

In [7]:
float(a)

25.0

In [8]:
bool(a)

True

In [9]:
a = "12"
b = 5
int(a)+b

17

In [10]:
print(type(a))
print(type(int(a)+b))

<class 'str'>
<class 'int'>

In [11]:
# Q:10] Write code to demonstrate type casting with list elements.
#integer:
A = (1,2,3,4,5,6,7,8,)
print(A)

(1, 2, 3, 4, 5, 6, 7, 8)

In [12]:
#string:
A = ("anju", "nick", "krish")
print(A)

('anju', 'nick', 'krish')

In [15]:
#float:
A = [1.2, 2.3, 3.4, 4.5, 5.8]
print(A)

[1.2, 2.3, 3.4, 4.5, 5.8]

In [17]:
user_input = input("Enter a number: ") 
num_int = int(user_input)              
result = num_int * 2
print("Result:", result)

Enter a number:  23

Result: 46

In [ ]:
# Q:11] Write a program that checks if a number is positive, negative, or zero?
num = float(input("Enter a number: "))

if num > 0:
    print("positive")
elif num < 0:
    print("negative")
else:
    print("zero")

In [27]:
 # Q:12] Write a for loop to print numbers from 1 to 10?
for i in range(1,10):
    print(i, end="  ")

1  2  3  4  5  6  7  8  9

In [33]:
# Q:13] Write a Python program to find the sum of all even numbers between 1 and 50?
sum_even = 0

for i in range (1,50):
    if i % 2 == 0:
        result += i

print(f"The sum of all even numbers between 1 and 50 is: {sum_even}")

48

In [41]:
# Q:14]  Write a program to reverse a string using a while loop.
row = "tendulkar"
row1 = ""
i = len(row) - 1

while i >= 0:
    row1 += row[i]
    i -= 1
print(row1)

rakludnet

In [1]:
sum_even = 0
for i in range(2, 51, 2):  # Start at 2, go up to 50, step by 2
    sum_even += i
print(f"Sum of even numbers from 1 to 50: {sum_even}")

Sum of even numbers from 1 to 50: 650

In [ ]:
# Q:15] Write a Python program to calculate the factorial of a number provided by the user using a while loop?
num = 18
num = int(input("Enter a positive integer: "))
factorial = 1
i = 1
if num < 0:
    print("Factorial is not defined for negative numbers")
elif num == 0:
    print("The factorial of 0 is 1")
else:
    while i <= num:
        factorial *= i  
        i += 1         
    print(f"The factorial of {num} is {factorial}")